<!DOCTYPE html>
<html lang="en">
<head>
    <title>displayPage</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }

      .container {
        width: 500px;
        margin: 0 auto;
        margin-top: 100px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #d41717;
      }

      .container h2 {
        text-align: center;
      }

      .container label, .container input[type="file"] {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }

    </style>
</head>
<body>
	<form action="/medias/search" method="post">
  		<input class="form-control me-2" name="media_name" type="search" placeholder="Search" aria-label="Search">
  		<button class="btn btn-outline-success" type="submit">Search</button>
	</form>
		<div>
			<table>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Keywords</th>
				<th>Date_of_media</th>
				<th>Object URL</th>
			{% for image in images %}
				<tr>
					<td>{{ image.id }}</td>
					<td>{{ image.name }}</td>
					<td>{{ image.description }}</td>
					<td>{{ image.keyword }}</td>
					<td>{{ image.date_of_media }}</td>
					<td>{{ image.object_url }}</td>
					<td><img src="{{ image.object_url }}" width="auto" height="200" style="margin: 0.5em 0;"/></td>
				</tr>
			{% endfor %}
			{% for video in videos %}
				<tr>
					<td>{{ video.id }}</td>
					<td>{{ video.name }}</td>
					<td>{{ video.description }}</td>
					<td>{{ video.keyword }}</td>
					<td>{{ video.date_of_media }}</td>
					<td>{{ video.object_url }}</td>
					<td><video width="320" height="240" controls style="margin: 0.5em 0;">
						<source src="{{ video.object_url }}" type="video/mp4">
						Your browser does not support the video tag.
					</video></td>
				</tr>
			{% endfor %}
			</table>
		</div>
</body>
</html>
